body {
  margin: 0;
}
.body{
  font-family: 'Gentium Basic', serif;
  color: rgb(7, 7, 7);
  background-color: white;
}
.line{
  width:25%;
}
.tea{
  background-color:white;
  height:50px;
  padding-top: 5px;
  padding-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
}
.contactform{
  margin-left: 5%;
}
.projects{
  display: flex;
  flex-shrink: 1px;
  flex-grow: 1px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border:1px solid black; 
  color:black;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(53, 43, 42);
  background-image: linear-gradient(0deg, rgb(114, 106, 95) 0%, rgb(82, 69, 64) 50%, #35302c 100%);
}
.left{
  width: 100%;
  height:30px;
  
  display: none;
}

.projects p{
  margin-top: 210px;
  padding-top:0px;
  font-size: large;
}
.projects:hover p{
  display: block;
}
.projects .left{
  display: block;
}


ul {
    list-style-type: none;
    
  }
  .container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-bottom:50px;
    margin-top: 0px;
  }
  .circle {
    background-color: darkgrey;
    border-radius: 1000px;
    height:100px;
    width:100px;
    margin: 1em;
    
  }
  .a{
    background-color: gray;
  }
  .b{
    background-color: lavender;
  }
  .c{
    background-color: oldlace;
  }
  .circle:hover {
    background-color: oldlace;
  }
.projectsformat{
display: flex;
justify-content:center;
flex-direction: column;
align-items: center;
}
  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color:white;
    text-decoration: none; 
  }
  @media screen and (min-width: 435px){
  .container{
    flex-direction: row;
  }
  
  
  
  }
  @media screen and (min-width: 600px){
    .aboutformat{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  @media screen and (min-width:1220px) {
    .aboutformat{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .line{
      width:100%;
    }
    .projects p{
      margin-top: 260px;
    }
}
